.alternative-method-icon.crypto{
    height: 20px;
    width: 20px;
}

.alternative-method-icon.paypal {
    width: 58px;
    height: 20px;
}

.button-accordion {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon {
    fill: var(--dark-sky-blue);
    width: 20px;
    height: 20px;
}

.icons-container {
    margin: 0 auto;
    display: flex;
    column-gap: 16px;
}

.button-accordion-method {
    border: 1px solid var(--light-sky-blue);
    border-radius: 4px;
    background-color: transparent;
}

.accordion {
    display: none;
    flex-direction: column;
    row-gap: 8px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.active.accordion {
    display: flex;
    animation: fadeIn 0.5s ease-in-out;
}

.active.button-accordion .arrow-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

 .arrow-icon {
    transition: transform 0.3s ease-in-out;
}

 .active.button-accordion .icons-container {
     opacity: 0.3;
 }

.active.promo-container {
    display: block;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}